[submodule "modules/Crosse.PowerShell.ActiveDirectory"]
	path = modules/Crosse.PowerShell.ActiveDirectory
	url = git@github.com:Crosse/Crosse.PowerShell.ActiveDirectory.git
[submodule "modules/Crosse.PowerShell.Azure"]
	path = modules/Crosse.PowerShell.Azure
	url = git@github.com:Crosse/Crosse.PowerShell.Azure.git
[submodule "modules/Crosse.PowerShell.Certificates"]
	path = modules/Crosse.PowerShell.Certificates
	url = git@github.com:Crosse/Crosse.PowerShell.Certificates.git
[submodule "modules/Crosse.PowerShell.Elasticsearch"]
	path = modules/Crosse.PowerShell.Elasticsearch
	url = git@github.com:Crosse/Crosse.PowerShell.Elasticsearch.git
[submodule "modules/Crosse.PowerShell.Exchange"]
	path = modules/Crosse.PowerShell.Exchange
	url = git@github.com:Crosse/Crosse.PowerShell.Exchange.git
[submodule "modules/Crosse.PowerShell.Fonts"]
	path = modules/Crosse.PowerShell.Fonts
	url = git@github.com:Crosse/Crosse.PowerShell.Fonts.git
[submodule "modules/Crosse.PowerShell.Help"]
	path = modules/Crosse.PowerShell.Help
	url = git@github.com:Crosse/Crosse.PowerShell.Help.git
[submodule "modules/Crosse.PowerShell.JMU"]
	path = modules/Crosse.PowerShell.JMU
	url = git@github.com:Crosse/Crosse.PowerShell.JMU.git
[submodule "modules/Crosse.PowerShell.MalwareAnalysis"]
	path = modules/Crosse.PowerShell.MalwareAnalysis
	url = git@github.com:Crosse/Crosse.PowerShell.MalwareAnalysis.git
[submodule "modules/Crosse.PowerShell.Management"]
	path = modules/Crosse.PowerShell.Management
	url = git@github.com:Crosse/Crosse.PowerShell.Management.git
[submodule "modules/Crosse.PowerShell.Media"]
	path = modules/Crosse.PowerShell.Media
	url = git@github.com:Crosse/Crosse.PowerShell.Media.git
[submodule "modules/Crosse.PowerShell.Office365"]
	path = modules/Crosse.PowerShell.Office365
	url = git@github.com:Crosse/Crosse.PowerShell.Office365.git
[submodule "modules/Crosse.PowerShell.Security"]
	path = modules/Crosse.PowerShell.Security
	url = git@github.com:Crosse/Crosse.PowerShell.Security.git
[submodule "modules/Crosse.PowerShell.SqlServer"]
	path = modules/Crosse.PowerShell.SqlServer
	url = git@github.com:Crosse/Crosse.PowerShell.SqlServer.git
[submodule "modules/Crosse.PowerShell.Support"]
	path = modules/Crosse.PowerShell.Support
	url = git@github.com:Crosse/Crosse.PowerShell.Support.git
[submodule "modules/Crosse.PowerShell.Trivial"]
	path = modules/Crosse.PowerShell.Trivial
	url = git@github.com:Crosse/Crosse.PowerShell.Trivial.git
